*{
    
    margin:auto;
    padding:auto;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
#sec{
    display:grid;
    width:100%;
    height:100%;
    justify-content:center;
    align-items: center;
    border:2px solid black;
}
#main{
    display:grid;
    justify-content:center;
    align-items:center;
    width:250px;
    height:370px;
    border:2px solid rgb(236, 18, 18);
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
    /*background: linear-gradient(100deg, blue 50%, white 50%);*/
    overflow: hidden;
}
#display{
    width:250px;
    height:50px;
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
}
#ip{
    margin-left:8px;
    width:230px;
    height:50px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(253, 3, 3, 0.3);
}
#keys{
    position:relative;
    display:grid;
    height:250px;
    width:250px;
    top:10px;
    margin:0;
    padding:0;
}
.divs{
display:flex;
justify-content: center;
align-items:center;
width:250px;
height:45px;
}

#btn1{
    width:100px;
    height:40px;
    box-shadow: 2px 2px 2px 2px rgba(255, 1, 1, 0.3);
    border-radius: 8px;
}
#btn2{
width:40px;
 height:40px;
 box-shadow: 2px 2px 2px 2px rgba(250, 3, 3, 0.3);
 border-radius: 8px;
}
#btn3{
    width:40px;
     height:40px;
     box-shadow: 2px 2px 2px 2px rgba(250, 3, 3, 0.3);
     border-radius: 8px;
    }
 #btn4{
        width:40px;
         height:40px;
         box-shadow: 2px 2px 2px 2px rgba(250, 3, 3, 0.3);
         border-radius: 8px;
        }
.button{
    width:55px;
height:40px;
box-shadow: 2px 2px 2px 2px rgba(39, 1, 255, 0.3);
border-radius: 8px;
}
